@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}


<div class="error-page page-not-found">
     <div class="logo-c"><a href="/home" class="logo" title="YPKbiotech"></a><br class="clear-both" /></div>   
    <div class="error-icon error-404"><span class="error-404-txt">404</span></div>
    <div class="error-desc">Opps! Page not found. <br />Go back to <a href="/home" class="inline-link">Home</a>.</div>
</div>