@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}


<div class="error-page maintenance">
     <div class="logo-c"><a href="/home" class="logo" title="YPKbiotech"></a><br class="clear-both" /></div>   
    <div class="error-icon error-maintenance">
        <span class="error-maintenance-icon"></span>
        <div class="error-maintenance-txt">
            <h3 class="m-txt-title">System Maintenance</h3>

            <div class="error-desc">To serve you better, we are doing system maintenance.</div>

            <div class="con-c">
                <div class="contactus-c">
                    <div class="row-c">
                        <span class="label">中國聯絡電話:</span>
                        <span class="value">+86-13970031268</span>
                    </div>
                    <div class="row-c">
                        <span class="label">新加坡聯絡電話:</span>
                        <span class="value">+65-97528555</span>
                     </div>
                     <div class="row-c">
                        <span class="label">QQ:</span>
                        <span class="value">2519940881</span>
                     </div>
                     <div class="row-c">
                        <span class="label">微信:</span>
                        <span class="value">alancheng1028</span>
                     </div>
                </div>


            </div>

        </div>

    </div>
    
</div>