@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

        <div class="slideshow-c">
            <div class="slideshow" id="coin-slider">
                    <ul>
                      <li>
                        <img src="/CDN/Themes/1/images/cow.jpg" alt="" title="Cows" />
                      </li>
          
                      <li>
                        <img src="/CDN/Themes/1/images/pig.jpg" alt="" title="Pigs" />
                      </li>
          
                      <li>           
                        <img src="/CDN/Themes/1/images/cocks.jpg" alt="" title="Cocks" />
                      </li>   
                
                        <li>           
                            <img src="/CDN/Themes/1/images/sewage.jpg" alt="" title="Sewage Disposal" />
                      </li>                   
                    </ul>
             </div>

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->

    <div class="main-body">
        <div class="content-body">
            <div class="news-content">
                <h1 class="title news">最新消息</h1>
                <div class="news-c">
                    <a href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <a  href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <a  href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <a  href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <a  href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <div class="btn-more-c">
                        <a href="/news/newslisting" class="btn-more">More ...</a>
                    </div>
                </div>
            </div> <!-- End of news-content -->

            <div class="about-content">
                <h1 class="title about">關於源沛康</h1>
                <p class="text">
                    技术专长为微生物技术与家畜、家禽养殖。主要服务项目为动物用生物饲料之益生菌和酵素、粪污处理菌种以及生态农场养殖管理。
                </p>
                <p class="text">
                    采用天然益生菌与酵素，并配合最新的环保科技技术，从根本上处理生态环境、养殖效能、食材美味与食的安全等问题，以为地球做出微薄的贡献。                </p>
                <div class="btn-more-c">
                    <a href="aboutus" class="btn-more">More ...</a>
                </div>
            </div> <!-- End of about-content -->
            <br class="clear-both" />
        </div>
    </div> <!-- End of main-body -->