@{
    ViewBag.Title = "SeawageDisposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-c">            

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->


   <div class="main-body">
        <div class="content-body">   
                <div class="main-tab pd20">
                    <div id="tabsVertical3" class="vertical-tab">
                                  <ul>
                                    <li><a href="#v3-tabs-1">主要成分</a></li>
                                    <li><a href="#v3-tabs-2">適用範圍</a></li>
                                    <li><a href="#v3-tabs-3">清汙康的功效</a></li>
                                    <li><a href="#v3-tabs-4">使用方式說明</a></li>
                                    <li><a id="animalFeedReportDownload2" href="/CDN/Download/Animal feed and ferments report.pdf"><span class="download-icon"></span>檢驗報告</a></li>
                                    <li><a href="#v3-tabs-9"><span class="download-icon"></span>詳細文件下載</a></li>                              
                                  </ul>
                                  <div id="v3-tabs-1">
                                    <h1 class="tab-title">主要成分</h1>
                                    <h2 class="sub-title">微生物成分：天然複合微生物酵素與胺基酸</h2>
                                    <ul class="list">
                                            <li>放線菌、芽孢桿菌、硝化菌、酵母菌等10幾種複合活菌所產生之酵素，活性強且穩定</li>
                                            <li>每公克產品 > 10億 CFU 酵素 (109 CFU/g)</li>
                                    </ul>  <br />
                                  </div>
                                  <div id="v3-tabs-2">
                                    <h1 class="tab-title">適用範圍</h1>   
                                    <ul class="list numberlist">
                                        <li>動物糞污處理</li>
                                        <li>民生用化糞池處理</li>
                                        <li>動物糞污成生物有機肥</li>
                                    </ul>
                                  </div>
                                  <div id="v3-tabs-3">
                                       <h1 class="tab-title">清汙康的功效</h1>
                                        <ul class="list numberlist">
                                                <li>清污康主是由放線菌、芽孢桿菌、硝化菌、酵母菌等10幾種複合活菌所產生之天然複合微生物酵素及氨基酸組成，活性強且穩定</li>
                                                <li>適用於動物糞污處理、民生用化糞池及動物糞污成生物有機肥</li>
                                                <li>分解糞污並大幅降低惡臭、且能將糞污池中的結塊軟化 (液態化)，以避免堵塞污水系統並達到污水排放標準，亦可化糞成生物有機肥</li>
                                        </ul> 
                                  </div>

                                 <div id="v3-tabs-4">
                                    <h1 class="tab-title">使用方式說明</h1>
                                    <h2 class="sub-title">清污康于厭氧池之使用方式</h2>   
                                    <ul class="list numberlist">
                                         <li>將清污康均勻灑在有結污泥塊的厭氣池。</li>
                                        <li>若為1,000頭的豬場，首次投入20公斤清污康，之後每個月再投入2公斤。</li>
                                        <li>如果豬場為5000頭，用量則為上述的數量乘上5倍，也就是首次100公斤，之後每個月10公斤。</li>
                                    </ul>
                                     <div class="seawage1"></div> <br /><br />


                                    <h2 class="sub-title">清污康于沼氣池之使用方式</h2>   
                                    <ul class="list numberlist">
                                         <li>3,000頭的豬場，首次投入60公斤清污康于厭氣池中，之後每個月再投入6公斤。</li>
                                         <li>如果豬場為6,000頭，用量則為上述的用量乘上2倍，也就是首次120公斤，之後每個月12公斤。</li>
                                    </ul>
                                     <div class="seawage2"></div><br /><br />

                                     <h2 class="sub-title">清污康于糞尿調節池池之使用方式</h2>   
                                    <ul class="list numberlist">
                                          <li>1,000頭的豬場，首次投入20公斤清污康于厭氣池中，之後每個月再投入2公斤。</li>
                                            <li>如果豬場為3,000頭，用量則為上述的用量乘上3倍，也就是首次60公斤，之後每個月6公斤。</li>
 
                                    </ul>
                                     <div class="seawage3"></div>
                                  </div>

                       
                            </div>
                
        </div>
    </div>