/* CSS Document */
/*--------------------- CSS Reset --------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td{margin:0; padding:0}
fieldset, img, button{border:none; margin:0; padding:0}
ol, ul{list-style:none}
caption, th{text-align:left}
q:before, q:after{content:""}
abbr, acronym{border:0}

body{line-height:1}
html, body{height:100%}
ol, ul{list-style:none}
a { outline: none; }

table{border-collapse:collapse; border-spacing:0}
/* --------- End of CSS Reset ------------------------------------------------*/
/* Typography */
body {font-family: Microsoft YaHei, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; font-size:82%; }
body.en-gb { font-size: 69%; }

/* Common */
.fl, .flft, .float-l{float:left}
.fr, .frgt, .float-r{float:right}
.clear-fl, .clear-l{clear:left}
.clear-fr, .clear-r{clear:right}
.clear-both, .clear-b{clear:both}
.align-c{text-align:center}
.align-j{text-align:justify}
.m-top20{margin-top:15px}
a.link-style1:link, a.link-style1:visited, a.link-style1:active{color:#685127; text-decoration:none}
a.link-style1:hover{color:#ae7000; text-decoration:underline;}
.negative {color:Red;}


.page-wrapper { width: 100%; height: 100%; min-width: 960px; }
.billboard-header { width: 100%; height: 651px; background: url(../images/sky-grassland.jpg) no-repeat top center; }
.seawagedisposal .billboard-header { width: 100%; height: 651px; background: url(../images/seawage.jpg) no-repeat top center; }
.contactus .billboard-header { height: 424px; background: url(../images/contactus.jpg) no-repeat top center; }
.aboutus .billboard-header { height: 424px; background: url(../images/aboutus.jpg) no-repeat top center; }
.news .billboard-header { height: 424px; background: url(../images/news-banner.jpg) no-repeat top center; }
/*.inner-header-c { position: fixed; z-index: 999; width: 100%; height: 115px;  background: url(../images/sky-grassland.jpg) no-repeat top center; }*/
.inner-header { width: 960px; margin: 0 auto; height: 115px; }
.logo { float: left; width: 242px; height: 90px; margin-top: 22px; background: url(../images/sprite.png) no-repeat -6px -7px; }
.languages-bar, .menu-bar-c { width: 632px; height: 20px; float: right; }
.languages-bar { margin-top: 5px; }
.lang { float: right; text-decoration: none; height: 21px; line-height: 20px; color: #fff; margin: 0 19px; padding-left: 25px; }
.lang:hover{ color: #f2e626 }
.lang.en-gb {background: url(../images/sprite.png) no-repeat -476px -195px;}
.lang.zh-cn {background: url(../images/sprite.png) no-repeat -476px -135px;}
.lang.zh-tw {background: url(../images/sprite.png) no-repeat -476px -166px;}
.menu-bar-c { margin-top: 43px; height: 35px; background: url(../images/menu-baseline.png) no-repeat bottom center; }
.menu, .menu-item-c { display: inline-block; float: right; font-size: 1.1em; }
.menu-item { display: inline-block; height: 31px; padding: 0 19px; color: #fff; text-decoration: none; }
.menu-item:hover, .menu-item.selected,
.home #menu1, .aboutus #menu2, .animalfeedandferments #menu3, .seawagedisposal #menu4, .contactus #menu5 { color: #f2e626; background: url(../images/selected-menu.png) no-repeat bottom center; }
.slideshow-c { margin: 0 auto; width: 960px; height: 445px; margin-top: 29px; }
.sticky-header { display:  none; }
.scrolling .sticky-header {  display: block; position: fixed; top: 0; z-index: 999; width: 100%; height: 65px;  background: url(../images/sky-grassland.jpg) no-repeat top center; }
.scrolling .logo { width: 137px; height: 51px; margin-top: 8px; background: url(../images/sprite.png) no-repeat -6px -185px; }
.scrolling .menu-bar-c { margin-top: 12px; }
.scrolling .slideshow-c { margin-top: 79px; }
.scrolling .inner-header { height: 65px; }
.pd20 { padding: 20px; }


.content-body { width: 960px; margin: 0 auto; margin-top: 40px;  color: #7a7a7a; font-size: 1.2em; line-height: 1.6em; }
.text { margin: 20px 0; }
.news-content { float: left; width: 600px; padding-right: 30px; border-right: 1px solid #65e64f; }
.news-listing { float: none; width: 100%; padding-right: 0; border-right: none; }
.about-content { width: 300px; margin-left: 25px; float: left; }
.title, .tab-title { font-size: 30px; font-weight: normal; height: 53px; line-height: 53px; padding-left: 60px; color: #0f6801; }
.tab-title {padding: 0 0 0 0;}
.title.news {  background: url(../images/sprite.png) no-repeat -449px -4px;  }
.title.about { background: url(../images/sprite.png) no-repeat -449px -68px;  }
.sub-title { font-size: 20px; margin: 10px 0; }
.sub-title2 { font-size: 16px; margin: 20px 0 5px 0; }
.list { list-style: disc ; margin-left: 30px; }
.numberlist { list-style: decimal; }
.numberlist > li { padding: 10px 0; }
.news-c { margin-top: 10px; }
.news-item { display: block; height: 50px; overflow: hidden; text-overflow:ellipsis; line-height: 50px; border-bottom: 1px solid #efefef; color: #7a7a7a; text-decoration: none; }
.news-date { display: inline-block; margin-right: 20px; color: #aaa; }
.news-item:hover .news-title { color: #38c320; }
.btn-more-c { text-align: right; padding-top: 30px; }
.btn-more { display: inline-block; height: 40px; padding: 0 25px; line-height: 40px; background: #5be444; color: #fff; text-decoration: none; }
.btn-more:hover { background: #38c320 }

.aboutus-region-map { margin: 20px 0; height: 200px; margin: 20px auto; background: url(../images/aboutus-region-map.jpg) no-repeat top center; }
.aboutus-philosophy { margin: 20px 0; height: 395px; margin: 20px auto; background: url(../images/aboutus-philosophy.jpg) no-repeat top center; }
/*.aboutus-vision { margin: 20px 0; height: 150px; margin: 20px auto; background: url(../images/aboutus-vision.jpg) no-repeat top center; }*/
.download-icon { display: inline-block; vertical-align: text-top; width: 26px; height: 22px; background: url(../images/sprite.png) no-repeat -477px -271px; }
.livestock-usage1 { height: 483px; background: url(../images/livestock-usage1.jpg) no-repeat top center; }
.livestock-usage2 { height: 335px; background: url(../images/livestock-usage2.jpg) no-repeat top center; }
.co1, .co2, .co3, .co4 { height: 493px; }
.co1 {background: url(../images/co1.jpg) no-repeat top center;}
.co2 {background: url(../images/co2.jpg) no-repeat top center;}
.co3 {background: url(../images/co3.jpg) no-repeat top center;}
.co4 {background: url(../images/co4.jpg) no-repeat top center;}

.seawage1 { height: 619px; background: url(../images/seawage1.jpg) no-repeat top center;}
.seawage2 {height: 550px; background: url(../images/seawage2.jpg) no-repeat top center;}
.seawage3 {height: 535px; background: url(../images/seawage3.jpg) no-repeat top center;}

.contactus-icon { background: url(../images/sprite.png) no-repeat -449px -338px; }
.label { display: inline-block; margin-left: 60px; width: 150px; }
.value { color: #000; }
.row-c { margin: 15px 0; }


.main-tab { border: 1px solid #eee; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }


.main-tab .ui-widget-header { background: none; border: none; border-bottom: 1px solid #0dbd00; }
.main-tab.ui-tabs { padding: 20px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { border: 1px solid #0dbd00; background: #5be444; }
.ui-tabs-active .ui-tabs-anchor { color: #fff !important; }
.box-shadow { webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);}
.main-tab .ui-state-disabled { opacity: 1 !important; filter: Alpha(Opacity=100) !important; cursor: pointer !important; }
.main-tab .ui-state-disabled .ui-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled a { cursor: pointer !important; }

.ui-widget-content { color: #7a7a7a; }
.ui-tabs .ui-tabs-panel { padding: 30px 0 0 0; }
/*.ui-tabs-vertical { width: 55em; }*/
.ui-tabs-vertical .ui-tabs-nav { padding: 0; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; margin: 0 -1px 0 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding:0 1em 1em 1em; float: right; width: 38em;}

.vertical-tab.ui-widget-content { border: none !important; }
.vertical-tab.ui-tabs { padding: 0; }
.vertical-tab.ui-tabs .ui-tabs-nav li a { padding: 0; }
.vertical-tab .ui-tabs-anchor { display: block; padding: 10px 10px 10px 20px !important; }
.vertical-tab .ui-widget-header { border-bottom: 1px solid #eee;}
.vertical-tab .ui-widget-header .ui-state-default { background: none; border-bottom: 1px solid #eee; }
.vertical-tab .ui-widget-header .ui-state-hover { background: #f8f8f8; border-color: #eee !important; }
.ui-tabs.vertical-tab .ui-tabs-nav li a { float: none;  }
.ui-tabs.vertical-tab .ui-tabs-nav li.ui-tabs-active { border: none; background: #5be444 url(../images/r-arrow.png) no-repeat center right;  }


.breadcrumb { float: right; margin-top: -65px; color: #ccc; }

.links-grp-c { padding: 40px; background: #ccc;  }
.note { margin: 30px 0 20px 0; background: #eee; border: 1px solid #ddd; padding: 20px; color: #666; }

.footer { width: 100%; height: 75px; margin-top: 50px; background: #5be444; color: #fff; }
.footer-content { width: 960px; margin: 0 auto; text-align: center; line-height: 25px; }
.contact-item { display: inline-block; margin: 13px 30px 0 0; }




/* Round corner */
.btn-more { -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
.cs-button-coin-slider { -webkit-border-radius: 10px; border-radius: 10px; }





.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 7px; height: 10px; width: 10px; float: left; border: 1px solid #fff; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #fff; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }


/* Error and maintenanec page*/
body.error { background: #428523 url(../images/m-bg.jpg) no-repeat top center;}
.error-page { width: 800px; height: 500px; margin: 0 auto; color: #fff; }
.error-404-txt { font-size: 150px; color: #fff; text-align: center; }
.error-icon { margin-top: 80px; }
.error-desc { width: 500px; font-size: 24px; color: #000; margin-top: 20px; line-height: 30px;}
.inline-link { color: #000; }
.error-maintenance-icon { margin-top: 12px; display: inline-block; float: left; width: 120px; height: 230px; background:url(../images/maintenance.png) no-repeat top center;}
.error-maintenance-txt { float: left; width: 500px; }
.m-txt-title { font-size: 30px; color: #fff; margin: 55px 0 0 10px; text-transform: uppercase; color: #fff; }
.error-maintenance-txt .error-desc { margin: 40px 0 0 10px; }
.con-c .label { margin-left: 10px; color: #000; }
.con-c .value { font-weight: bold; }
