@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-c">
            

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->

  <div class="main-body">
        <div class="content-body">
                <h1 class="title news">New Details</h1>

                <h3 class="sub-title">News Details sub title 1</h3>
                
            <h4 class="sub-title2">New Details sub title 2</h4>
            <ul class="list">
                <li>技術專長為微生物技術與家畜、家禽養殖。主要服務專案為動物用生物飼料之益生菌和酵素、糞汙處理菌種以及生態農場養殖管理。</li>
                <li>采用天然益生菌與酵素，並配合最新的環保科技技術，從根本上處理生態環境、養殖效能、食材美味與食的安全等問題，以為地球做出微薄的貢獻</li>
                <li>創立於2013 年，總公司位於臺灣新竹，目前主要服務地區為臺灣和中國大陸。</li>
            </ul>
            



        </div>
    </div> <!-- End of main-body -->

