@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

        <div class="slideshow-c">

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->

    <div class="main-body">
        <div class="content-body">
            <div class="news-content news-listing">
                <h1 class="title news">最新消息</h1>
                <div class="news-c">
                    <a href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <a  href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                     <a  href="/news/newsdetails" class="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>Eass="news-item">
                        <span class="news-date">20/12/2014</span>
                        <span class="news-title">This is news title 1</span>
                    </a>
                </div>
            </div> <!-- End of news-content -->

            
        </div>
    </div> <!-- End of main-body -->