@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slideshow-c">
            <div class="slideshow" id="coin-slider">
                    <ul>
                      <li>
                        <img src="/CDN/Themes/1/images/cow.jpg" alt="" title="Cows" />
                      </li>
          
                      <li>
                        <img src="/CDN/Themes/1/images/pig.jpg" alt="" title="Pigs" />
                      </li>
          
                      <li>           
                        <img src="/CDN/Themes/1/images/cocks.jpg" alt="" title="Cocks" />
                      </li>                
                    </ul>
             </div>

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->



  <div class="main-body">
        <div class="content-body">
            <div id="tabs" class="main-tab">
              <ul>
                <li><a href="#tabs-1">畜沛康</a></li>
                <li><a href="#tabs-2">禽沛康</a></li>
              </ul> 
              <div id="tabs-1">

                    <div id="tabsVertical" class="vertical-tab">
                          <ul>
                            <li><a href="#v-tabs-1">主要成分</a></li>
                            <li><a href="#v-tabs-2">畜沛康於豬只的功效</a></li>
                            <li><a href="#v-tabs-3">對於豬的功效</a></li>
                            <li><a href="#v-tabs-4">對於奶牛、奶羊的功效</a></li>
                            <li><a href="#v-tabs-5">對於肉牛、肉羊的功效</a></li>
                            <li><a href="#v-tabs-6">使用方式說明</a></li>
                            <li><a href="#v-tabs-7">合作案例與成果</a></li>
                            <li><a id="animalFeedReportDownload2" href="/CDN/Download/Animal feed and ferments report.pdf"><span class="download-icon"></span>檢驗報告與測試報告</a></li>
                            <li><a href="#v-tabs-9"><span class="download-icon"></span>詳細文件下載</a></li>                              
                          </ul>
                          <div id="v-tabs-1">
                            <h1 class="tab-title">主要成分</h1>
                            <h2 class="sub-title">微生物成分</h2>
                            <ul class="list">
                                    <li><strong>複合微生物酵素</strong> <br />
                                          酵素從天然發酵複合益生菌群、靈芝和珍貴中草藥萃取</li>
                                    <li>多種胺基酸 (如賴氨酸、精氨酸、蘇氨酸、谷氨酸、亮氨酸…等)</li>
                                    <li>維生素A、維生素D、維生素E、維生素B群等</li>
                            </ul>  <br />

                            <h2 class="sub-title">一般成分</h2>
                            <ul class="list">
                                    <li>發酵豆粕(20%)、苜蓿草(75%)、糙米(5%)…等</li>
                            </ul>

                            <div class="note">
                                畜沛康的複合微生物酵素主要由 > 1000億 CFU/g (1011 CFU/g) 之枯草桿菌、酵母菌、乳酸菌、納豆菌等菌群所產生，活性強且穩定。
                            </div>

                          </div>
                          <div id="v-tabs-2">
                            <h1 class="tab-title">畜沛康於豬只的功效</h1>   
                            <ul class="list numberlist">
                                <li>畜沛康主要微生物成分是由多種天然發酵複合益生菌群、珍貴靈芝中草藥萃取而成，菌群活性強且穩定。</li>
                                <li>適用於哺乳母豬、育肥豬、奶牛、肉牛、奶羊、肉羊</li>
                                <li>使用畜沛康後，可於短期間內降低畜場臭味，提高飼料使用率、縮短飼育時間、提高育成率，進而快速改善肉品 品質</li>
                                <li> 將飼料大分子有效地轉換成小分子，並且配合酵素、氨基酸、維生素等、幫助畜類腸道吸收並減少排泄量及氨氣排放。畜類排泄物處理系統，可配合清污康分解有機物質，以達污水排放標準。</li>
                                <li>有效提升畜類免疫力、加強抵抗力、防止疾病、下痢及便秘，減少不必要之抗生素施打。</li>
                                <li> 強化肉品質量，增添風味與口感！</li>
                            </ul>
                          </div>
                          <div id="v-tabs-3">
                               <h1 class="tab-title">對於豬的功效</h1>
                                <h2 class="sub-title">育肥豬：</h2>
                                <ul class="list numberlist">
                                        <li>飼料換肉率大幅提高，降低飼料成本</li>
                                         <li>助增長，縮短飼育時間</li>
                                         <li>提升免疫力、增強抵抗力、防止疾病、下痢、便秘；  進而增加育成率</li>
                                         <li>除氨臭，防呼吸道疾病</li>
                                         <li>增加瘦肉比例與改善肉質品質</li>
                                </ul> <br />

                              <h2 class="sub-title">衽娠期母豬：</h2>
                                <ul class="list numberlist">
                                        <li>增進母豬受孕機率</li>
                                        <li>幫助母豬生產</li>
                                        <li>增加母豬的補乳量與乳品質</li>
                                        <li>減少母豬的乳房炎</li>
                                        <li>提升免疫力，進而減少不必要的抗生素施打</li>
                                </ul> <br />

                              <h2 class="sub-title">種公豬：</h2>
                                <ul class="list numberlist">
                                       <li>提高種豬的性欲</li>
                                        <li>改善精子品質</li>
                                </ul> <br />

                               <h2 class="sub-title">哺乳母豬，仔豬：</h2>
                                <ul class="list numberlist">
                                       <li>提升免疫力，減少下痢及疾病，增加存活率</li>
                                        <li>增進呼吸系統強度</li>
                                </ul> 
                          </div>

                        <div id="v-tabs-4">
                            <h1 class="tab-title">對於奶牛、奶羊的功效</h1>   
                            <ul class="list numberlist">
                                <li>提高奶牛/奶羊的產乳量約8%~15%</li>
                                <li>增加奶牛/奶羊的乳脂量</li>
                                <li>降低牛奶/羊奶所含的細菌數</li>
                                <li>提升免疫力，進而減少不必要的抗生素施打</li>
                                <li>增加受孕機率並幫助母牛/羊生產</li>
                            </ul>
                          </div>

                        <div id="v-tabs-5">
                            <h1 class="tab-title">對於肉牛、肉羊的功效</h1>   
                            <ul class="list numberlist">
                                <li>飼料利用率大幅提高，降低飼料成本</li>
                                <li>助增長，縮短飼育時間</li>
                                <li>提升免疫力、增強抵抗力</li>
                                <li>大幅降低尿臭味與羊糞味，淨化養殖環境</li>
                                <li>改善肉質品質、增進肉質風味與口感</li>
                                <li>毛皮光鮮滑順</li>
                            </ul>
                          </div>

                         <div id="v-tabs-6">
                            <h1 class="tab-title">使用方式說明</h1>
                             <h2 class="sub-title">畜沛康使用方式說明：</h2>   
                            <ul class="list numberlist">
                                <li>將紅糖6公斤混入30公斤的溫水，並均勻攪拌</li>
                                 <li>將畜沛康1公斤混入原使用之100公斤的豆粕，然後加入先前(1)的糖水，並均勻混合 (水份約占飼料重量的30%)，機器攪拌約10分鐘 </li>
                                 <li>放置發酵槽或地上約16-72小時，即可發酵至溫度45度以上成為發酵飼料 (發酵情況會因為原使用飼料配方，與當地的氣候溫度而有所不同)</li>
                                 <li>將約溫度45度的發酵料加入豆粕、玉米、麩皮等飼料及營養料，然後均勻混合，即可成為全價料 </li>
                                 <li>將均勻混合的全價料送入機器製成顆粒料，並確定產品水份含量低於14% (一般養豬使用戶則不需製成顆粒料)</li>
                            </ul>
                             <div class="livestock-usage1"></div> <br /><br /><br />


                            <h2 class="sub-title">先發酵再使用方式說明：</h2>   
                            <ul class="list">
                                <li> 將畜沛康酵素1公斤，混合原使用的飼料和營養料，即可成為1000公斤的綠色環保飼料，約1:1000。</li>
                            </ul>
                             <div class="livestock-usage2"></div>
                          </div>

                        <div id="v-tabs-7">
                            <h1 class="tab-title">合作案例與成果</h1>   
                            <div class="co1"></div> <br />
                            <div class="co2"></div> <br />
                            <div class="co3"></div> <br />
                            <div class="co4"></div> <br />

                          </div>

                    </div>
              </div>



              <div id="tabs-2">
                    <div id="tabsVertical2" class="vertical-tab">
                          <ul>
                            <li><a href="#v2-tabs-1">主要成分</a></li>
                            <li><a href="#v2-tabs-2">適用對像與主要功效</a></li>
                            <li><a href="#v2-tabs-3">對於肉禽的功效</a></li>
                            <li><a href="#v2-tabs-4">對於蛋雞與雞蛋的功效</a></li>
                            <li><a href="#v2-tabs-5">使用方式說明</a></li>
                            <li><a id="animalFeedReportDownload" href="/CDN/Download/Animal feed and ferments report.pdf" target="_blank"><span class="download-icon"></span>檢驗報告與測試報告</a></li>
                            <li><a href="javascript:void(0);"><span class="download-icon"></span>詳細文件下載</a></li>                              
                          </ul>
                          <div id="v2-tabs-1">
                            <h1 class="tab-title">主要成分</h1>
                            <h2 class="sub-title">微生物成分：</h2>
                            <ul class="list">
                                    <li><strong>複合微生物酵素</strong>
                                          酵素從天然發酵複合益生菌群、靈芝和珍貴中草藥萃取</li>
                                    <li>多種胺基酸 (如賴氨酸、精氨酸、蘇氨酸、谷氨酸、亮氨酸…等)</li>
                                    <li>維生素A、維生素D、維生素E、維生素B群等</li>
                            </ul>  <br />

                            <h2 class="sub-title">一般成分：</h2>
                            <ul class="list">
                                    <li>發酵豆粕、苜蓿草、糙米…等</li>
                            </ul>

                            <div class="note">
                                畜沛康的複合微生物酵素主要由 > 1000億 CFU/g (1011 CFU/g) 之枯草桿菌、酵母菌、乳酸菌、納豆菌等菌群所產生，活性強且穩定。
                            </div>

                          </div>

                          <div id="v2-tabs-2">
                            <h1 class="tab-title">適用對像與主要功效</h1>   
                            <ul class="list numberlist">
                                <li>禽康沛主要微生物成分是由多種天然發酵複合益生菌群、珍貴靈芝中草藥萃取而成，菌群活性強且穩定。</li>
                                <li>適用於雞、蛋雞、鴨、蛋鴨、 火雞、鵝、天鵝</li>
                                <li>使用禽沛康後，可於短期間內提高飼料使用率、縮短飼育時間、提高育成率、快速改善肉品/蛋品質量、禽類羽毛光鮮滑順並縮短換羽期</li>
                                <li>蛋雞/鴨使用禽沛康後，短期內提高總產量，且蛋品呈現高質量明顯蛋黃、濃蛋白、稀蛋白。蛋黃立體極富彈性，且大幅降低蛋腥味，呈現絕佳的品質！</li>
                            </ul>
                          </div>
                          <div id="v2-tabs-3">
                               <h1 class="tab-title">對於肉禽的功效</h1>
                                
                                <ul class="list numberlist">
                                        <li>飼料利用率大幅提高，降低飼料成本</li>
                                        <li>助增長，縮短飼育時間</li>
                                        <li>提升免疫力、增強抵抗力</li>
                                        <li>大幅降低禽糞味，淨化養殖環境</li>
                                        <li>改善肉質品質、增進肉質口感與風味</li>
                                        <li>羽毛光鮮滑順，並可縮短換羽期</li>
                                </ul> 
                          </div>

                        <div id="v2-tabs-4">
                            <h1 class="tab-title">對於蛋雞與雞蛋的功效</h1> 
                            <h2 class="sub-title">蛋雞：</h2>  
                            <ul class="list numberlist">
                                <li>增進母禽下蛋的總數目</li>
                                <li>提升母禽對溫度變化的抵抗力，並減少換羽時間</li>
                            </ul><br />

                            <h2 class="sub-title">雞蛋：</h2>  
                            <ul class="list numberlist">
                                <li>雞/鴨蛋殼變的較厚且色澤較光亮</li>
                                <li>雞/鴨蛋呈現明顯的蛋黃、濃蛋白、稀蛋白</li>
                                <li>大幅降低蛋腥味，並呈現蛋的絕佳口感與風味</li>
                                <li>蛋黃呈現立體感且極有彈性、不易破</li>
                            </ul>
                          </div>

                         <div id="v2-tabs-5">
                            <h1 class="tab-title">使用方式說明</h1>
                             <h2 class="sub-title">禽沛康使用方式說明：</h2>   
                            <ul class="list numberlist">
                                 <li>將紅糖9公斤混入45公斤的溫水，並均勻攪拌</li>
                                <li>將禽沛康1公斤混入原使用之150公斤的豆粕，然後加入先前(1)的糖水，並均勻混合 (水份約占飼料重量的30%)，機器攪拌約10分鐘 </li>
                                <li>放置發酵槽或地上約16-72小時，即可發酵至溫度45度以上成為發酵飼料 (發酵情況會因為原使用飼料配方，與當地的氣候溫度而有所不同)</li>
                                <li>將約溫度45度的發酵料加入豆粕、玉米、麩皮等飼料及營養料，然後均勻混合，即可成為全價料</li>
                                <li>將均勻混合的全價料送入機器製成顆粒料，並確定產品水份含量低於14% (一般養雞使用戶則不需製成顆粒料)</li>
                            </ul>
                             <div class="livestock-usage1"></div> <br /><br /><br />


                            <h2 class="sub-title">禽沛康酵素使用方式說明：</h2>   
                            <ul class="list">
                                <li>將禽沛康酵素1公斤混合您原本的飼料，並配合您原先的營養料，再均勻混合，即可餵食。</li>
                            </ul>
                             <div class="livestock-usage2"></div>
                          </div>

                    </div>             
              
              
              </div>
            </div>




        </div>
    </div>