@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

        <div class="slideshow-c">
            

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->


    <div class="main-body">
        <div class="content-body">
            <div class="contactus-content">
                <h1 class="title contactus-icon">聯絡我們</h1>
                <div class="contactus-c">
                    <div class="row-c">
                        <span class="label">中國聯絡電話:</span>
                        <span class="value">+86-13970031268</span>
                    </div>
                    <div class="row-c">
                        <span class="label">新加坡聯絡電話:</span>
                        <span class="value">+65-97528555</span>
                     </div>
                     <div class="row-c">
                        <span class="label">QQ:</span>
                        <span class="value">2519940881</span>
                     </div>
                     <div class="row-c">
                        <span class="label">微信:</span>
                        <span class="value">alancheng1028</span>
                     </div>
                    <div class="row-c">
                        <span class="label">網址:</span>
                        <span class="value">http://www.ypkbiotech.com</span>
                    </div> 
                </div>
            </div> <!-- End of news-content -->

           
        </div>
    </div> <!-- End of main-body -->