<div class="footer">
        <div class="footer-content">
                <span class="contact-item"><span class="label-txt">公司地址：</span> 台灣新竹縣竹北巿三民路95號2樓之1.</span>                <span class="contact-item"><span class="label-txt">諮詢電話：</span> +886-3-5558980</span>                <span class="contact-item"><span class="label-txt">電子信箱：</span> 2519940881@qq.com</span> <br />                © 2013 源沛康生技有限公司. All Rights Reserved
        </div>
</div> 
