<div class="billboard-header">
        <div class="inner-header">
            <a href="index" class="logo" title="YPKbiotech"></a>

            <div class="languages-bar">
                <a class="lang zh-tw" href="javascript:void(0);"><span class="icon-flag"></span> 简体</a>                
                <a class="lang zh-cn" href="javascript:void(0);"><span class="icon-flag"></span> 繁體</a>
                <a class="lang en-gb" href="javascript:void(0);"><span class="icon-flag"></span> English</a>
            </div>

            <div class="menu-bar-c">
                <ul class="menu">
                    <li class="menu-item-c"><a href="javascript:void(0);" class="menu-item">聯絡我們</a></li>
                    <li class="menu-item-c"><a href="javascript:void(0);" class="menu-item">最新消息</a></li>
                    <li class="menu-item-c"><a href="javascript:void(0);" class="menu-item">污水處理</a></li>
                    <li class="menu-item-c"><a href="javascript:void(0);" class="menu-item">生物飼料酵素</a></li>
                    <li class="menu-item-c"><a href="javascript:void(0);" class="menu-item">關於源沛康</a></li>
                    <li class="menu-item-c"><a href="javascript:void(0);" class="menu-item selected">首頁</a></li>
                </ul>
            </div>

            <br class="clear-both" />
        </div>

        <div class="slideshow-c">
            <div class="slideshow" id="coin-slider">
                    <ul>
                      <li>
                        <img src="/CDN/Themes/1/images/cow.jpg" alt="" title="Cows" />
                      </li>
          
                      <li>
                        <img src="/CDN/Themes/1/images/pig.jpg" alt="" title="Pigs" />
                      </li>
          
                      <li>           
                        <img src="/CDN/Themes/1/images/cocks.jpg" alt="" title="Cocks" />
                      </li>   
                
                        <li>           
                            <img src="/CDN/Themes/1/images/sewage.jpg" alt="" title="Sewage Disposal" />
                      </li>                   
                    </ul>
             </div>

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->
