@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-c">
            

        </div> <!-- End of slide-show-c -->
    </div> <!-- End of billboard-header -->

  <div class="main-body">
        <div class="content-body">
                <h1 class="title about">關於源沛康</h1>

                <h3 class="sub-title">公司簡介與經營團隊</h3>
                
            <h4 class="sub-title2">源沛康生技股份有限公司：</h4>
            <ul class="list">
                <li>技術專長為微生物技術與家畜、家禽養殖。主要服務專案為動物用生物飼料之益生菌和酵素、糞汙處理菌種以及生態農場養殖管理。</li>
                <li>采用天然益生菌與酵素，並配合最新的環保科技技術，從根本上處理生態環境、養殖效能、食材美味與食的安全等問題，以為地球做出微薄的貢獻</li>
                <li>創立於2013 年，總公司位於臺灣新竹，目前主要服務地區為臺灣和中國大陸。</li>
            </ul>
            <h4 class="sub-title2">經營團隊：</h4>
            <ul class="list">
                <li>由臺灣生物科技專業人員與生態養殖達人所組成；營運總經理和研發總監則由鄭育明與陳華偉教授(臺灣聖母專科學院)擔任</li>
            </ul>

            <div class="aboutus-region-map"></div>

            <h3 class="sub-title">經營理念與願景</h3>

            <h4 class="sub-title2">經營理念:</h4>
            <ul class="list">
                <li>採用天然益生菌與酵素，以致力於生態系統與環境的維護</li>
            </ul>
            <div class="aboutus-philosophy"></div>


            <h4 class="sub-title2">願景:</h4>
            <ul class="list">
                <li>給回大地最自然、最原始的面貌</li>
                <li>世界的每一處都保有自然生態平衡</li>
            </ul>
           @* <div class="aboutus-vision"></div>*@




        </div>
    </div> <!-- End of main-body -->

